img {
    width: 100%;
    height: auto;
}
.btn {
    margin-top: 20px;
}
.colour {
  width: 100%;
  margin-top: 20px;
  height: 45px;
  display: block;
}
.colour p {
  color: #fff;
  font-size:1.8em;
  font-weight: normal;
  text-align:center;
  padding-top:4px;
}
